<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= name %></title><% if(type === 'pc') {%> <%} else if(type === 'm') {%>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script>
        (function() {
            function refreshRem() {
                var width = docEl.getBoundingClientRect().width;
                var dpr = window.devicePixelRatio;
                rem = width * dpr / (BASE_WIDTH / ROOT_FONT_SIZE);
                docEl.style.fontSize = rem + "px";
            }
            var tid = null, docEl = document.documentElement, BASE_WIDTH = 750, ROOT_FONT_SIZE = 20;
            refreshRem();
            window.addEventListener("resize", function() {
                clearTimeout(tid);
                tid = setTimeout(refreshRem, 300);
            }, false);
        })();
        var globalCheckIsInWebview = function () {
            var checkDeviceType = document.cookie.match(new RegExp('(^| )deviceType=([^;]*)(;|$)'));
            if (checkDeviceType && checkDeviceType[2] && (checkDeviceType[2] == '0' || checkDeviceType[2] == '1')) {
                return true;
            } else {
                return false;
            }
        };
    </script>
    <%}%>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="wrapper">
        body
    </div>
    <script src="js/eco.js"></script>
</body>
</html>
